@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lobster&display=swap');

body {
	margin: 0;
}

header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("image1.jpg");
	background-size: cover;
	background-position: center;
}

header h1{
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 20px;
}

main{
	padding: 100px;
	background: linear-gradient(112deg, rgba(88,76,23,1) 25%, rgba(62,66,64,1) 68%);
}

main p{
	column-count: 2;
	colour: white;
	font-family: "Lobster";
}

#schaltung{
	padding: 100px;	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
}

#schaltung ul li{
	padding: 30px;
	marfin: 30px;
	background-color: lightblue;
}

footer{
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	height: 400px;
	background-image: url("image2.jpg");
	backgroud-size: cover;
	background-position: center;
	font-family: "Akaya Telivigala";

}

footer p{
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.6);
	border-radius: 20px;
}