body{
	background-color: blue
	
}

h1{

	border:5px solid darkblue;
	border-radius: 8px;
	background-color: lightblue;
	font-size: 25px;
	padding:30px;
}

p{
	border: 5px dotted darkblue;
	border-radius: 8px;
	background-color: lightblue;
	padding:30px;
	font-size: 15px;
	text-align: right
}
