p{
	padding:30px;
}

.a{
	background-color:#32AC68;
}

.b{
	background-color: rgb(15,56,125);
}

.c{
	background-color: #FCD369;
}

.d{
	background-color:rgb(78,10,100);
}

.e{
	background-color: #27438A;
}

.f{
	background-color: rgb(255,255,200);
}

.g{
	background-color: #26EF82
}

.h{
	background-color: rgb(45,200,100)
}

.i{
	background-color: #652789
}

.j{
	background-color: rgb(190,70,45)
}