*{ word-wrap: break-word;
box-sizing: border-box; }
footer{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,45,156,1) 79%);
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;

}

.about, .services, .our{
	color: white;
	width: 100%;
	

}

p, a{
	color: white;
}

a:hover{
	color: black;
	background-color: white;
}

@media(min-width: 768px);

footer{
	display: flex;
	flex-direction: row;
	margin: 0;
	color: white;
	text-align: left;
	width: 100%;
}

.about{
	float: left;
	width: 25%;
	
}
.services{
	float: left;
	width: 25%;
	
}

.our{
	float: left;
	width: 50%;
	
}
















